/* css styles */


.justify {
    text-align: justify !important
  }
.right {
    text-align: right !important
  }
.left {
    text-align: left !important
  }
body {
    text-align: justify;
}

.reveal .slides .logo {
  width: 500px; /* Đặt kích thước mong muốn */
  height: auto; /* Giữ tỷ lệ khung hình */
}

